body {
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: white;
  color: black;
}

nav {
  display: flex;
  justify-content: end;
  width: 100%;
  margin-right: 30px;
  margin-top: 40px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

nav li {
  margin: 0 15px;
  cursor: pointer;
}

nav a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.nav-header-button {
  max-width: 100%;
  background-color: transparent;
  border: 2px solid #ffa000;
  color: black;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 35px;
  padding: 1rem 1.5rem;
  text-align: center;
  text-wrap: nowrap;
}

.nav-header-button:hover {
  background-color: rgba(219, 222, 225, 0.3);
}

#orange-rect {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin: auto;
  z-index: -1;
}

.orange-shape {
  stroke-dasharray: 463;
  stroke-dashoffset: 463;
  animation: draw-orange-shape 3s infinite;
}

@keyframes draw-orange-shape {
  from {
    stroke-dashoffset: -463;
  }
  to {
    stroke-dashoffset: 463;
  }
}

#blue-rect {
  position: absolute;
  right: 0;
  text-align: center;
  z-index: -1;
}

.blue-shape {
  stroke-dasharray: 863;
  stroke-dashoffset: 863;
  animation: draw-blue-shape 4s infinite;
}

@keyframes draw-blue-shape {
  from {
    stroke-dashoffset: 863;
  }
  to {
    stroke-dashoffset: -863;
  }
}

#grey-rect {
  position: absolute;
  left: 0;
  text-align: center;
  z-index: -1;
}

.grey-shape {
  stroke-dasharray: 863;
  stroke-dashoffset: 863;
  animation: draw-grey-shape 4s infinite;
}

@keyframes draw-grey-shape {
  from {
    stroke-dashoffset: 863;
  }
  to {
    stroke-dashoffset: -863;
  }
}

.middle-header-button {
  margin-top: 4rem;
  max-width: 80%;
  background-color: #ffa000;
  border: 2px solid #ffa000;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 35px;
  padding: 1rem 1.5rem;
  text-align: center;
}

.middle-header-button:hover {
  background: white;
  color: #ffa000;
}

h1 {
  font-family: sans-serif;
  font-size: 72px;
  margin: 35px;
}

.header__h2 {
  background-color: #f1f1f1;
  border-radius: 10px;
  width: 45%;
  height: 4rem;
  margin: auto;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

h4 {
  font-family: sans-serif;
  font-size: 22px;
  margin: auto;
  width: 35%;
  text-align: center;
  font-weight: 400;
  line-height: 1.5;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: white;
}

section {
  margin: 20px 0;
}
